ALMALINUX_VERSION=10
USERNAME=admin
PASSWORD=change-this-password
TERMINAL_USERNAME=admin
TERMINAL_PASSWORD=change-this-password
WORKSPACE_DIR=/root/workspace
TTYD_WRITABLE=true
SHOW_WELCOME=true
WELCOME_COMMAND=almalinux-welcome
TZ=Asia/Jakarta
TTYD_VERSION=1.7.7
